# Project exclude paths
/.gradle/
/build-common/.gradle/
/build-common/build/
/build-common/build/classes/java/main/
/modules/web/oome-web-local/build/
/modules/web/oome-web-local/build/classes/java/main/
/.idea/
/modules/web/oome-web-local/src/main/resources/static/
/modules/**/build
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
